# Docker
.env
docker-compose.override.yml

# Backend
*.pyc
__pycache__/
*.sqlite3
*.pid
*.log
*.pot
*.py[co]
.DS_Store

# Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environment
venv/
.venv/
